<% content_for :page_title, "Poutineer - Search Results" %>
<% content_for :page_header, "#{@record.result_total}" %>
<% content_for :page_types, :splash %>

<% if notice %>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>

<p>
  Searching for <em><mark><%= @record.query %></mark></em>.
</p>

<% if @record.results.present? %>
  <% @record.results.in_groups_of(2, false) do |results| %>
    <section class="card-group">
      <%= render partial: "card", collection: results, as: :result %>
    </section>
  <% end %>
<% else %>
  <p>
    We couldn't find any matching places. Try being more specific, like these:
  </p>
  <ul>
    <li>"smoke's poutinerie in downtown los angeles"</li>
    <li>"best poutine in seattle"</li>
  </ul>
<% end %>

<nav class="nav justify-content-end mt-2">
  <li class="nav-item">
    <%= link_to "New Search", new_establishment_search_path, class: "nav-link link-primary" %>
  </li>
</nav>
