version: '2'
services:
  resources:
    build:
      context: ./
      dockerfile: Dockerfile.resources
    volumes:
      - ./:/usr/lib/resources
    depends_on:
      - postgres
      - redis-sidekiq
      - redis-objects
      - redis-cache
      - redis-redlock
      - proxy
    environment:
      - RAILS_ENV=development
      - DATABASE_HOST=postgres
      - REDIS_CACHE_URL=redis://redis-cache:6379/0
      - REDIS_CACHE_POOL_SIZE=20
      - REDIS_SIDEKIQ_URL=redis://redis-sidekiq:6379/1
      - REDIS_SIDEKIQ_SERVER_POOL_SIZE=10
      - REDIS_SIDEKIQ_CLIENT_POOL_SIZE=10
      - REDIS_OBJECTS_URL=redis://redis-objects:6379/2
      - REDIS_OBJECTS_POOL_SIZE=20
      - REDIS_ACTION_CABLE_URL=redis://redis-objects:6379/3
      - REDIS_ACTION_CABLE_POOL_SIZE=20
      - REDIS_REDLOCK_URL=redis://redis-redlock:6379/4
      - REDIS_REDLOCK_POOL_SIZE=20
      - RAILS_MAX_THREADS=4
      - WEB_CONCURRENCY=2
      - RAILS_EMAIL_HOST=localhost
      - RAILS_EMAIL_USER=noreply
      - RESOURCES_ORIGIN=http://resources.blankapirails.local
      - WWW_ORIGIN=http://www.blankapirails.local
      - RAILS_HOST=resources.blankapirails.local
      - VIRTUAL_HOST=resources.blankapirails.local
      - BUGSNAG_API_PRIVATE
      - ENCRYPTION_SECRET
      - ENCRYPTION_SALT
  postgres:
    image: postgres:9.6-alpine
    environment:
      - VIRTUAL_HOST=postgres.blankapirails.local
  redis-sidekiq:
    image: redis:3.2.11-alpine
    environment:
      - VIRTUAL_HOST=redis-sidekiq.blankapirails.local
  redis-objects:
    image: redis:3.2.11-alpine
    environment:
      - VIRTUAL_HOST=redis-objects.blankapirails.local
  redis-cache:
    image: redis:3.2.11-alpine
    environment:
      - VIRTUAL_HOST=redis-cache.blankapirails.local
  redis-redlock:
    image: redis:3.2.11-alpine
    environment:
      - VIRTUAL_HOST=redis-redlock.blankapirails.local
  proxy:
    image: jwilder/nginx-proxy:alpine
    ports:
      - "80:80"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./proxy/:/etc/nginx/conf.d/
