<h1>New Recipe</h1>

<%= render "form", recipe: @record %>

<nav class="nav justify-content-end mt-2">
  <li class="nav-item">
    <%= link_to "Back", recipes_path, class: "nav-link" %>
  </li>
</nav>
