<% content_for :page_title, "Poutineer" %>
<% content_for :page_header, "Poutineer" %>
<% content_for :page_types, :splash %>

<blockquote class="blockquote">
  <p>
    Find the best poutine near you, reviewed by people who love it.
  </p>
</blockquote>

<section class="call-to-actions btn-group">
  <%= link_to "Sign up", new_account_registration_url(), class: "btn btn-link link-primary" %>
  <%= link_to "Login", new_account_session_url(), class: "btn btn-link link-primary" %>
</section>

<picture>
  <%= image_tag image_path("logo.png") %>
</picture>
