<% content_for :page_title, "Poutineer" %>
<% content_for :page_header, "Poutineer" %>
<% content_for :page_types, :splash %>

<blockquote class="blockquote text-center">
  <p>
    Find the best poutine near you, reviewed by people who love it.
  </p>
</blockquote>

<section class="call-to-actions">
  <%= link_to "Sign up", new_account_registration_url(), class: "link-primary" %>
  <%= link_to "Login", new_account_session_url(), class: "link-primary" %>
</section>
