/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary: #f85c8b;
  --secondary: #f8c95c;
}

html, body {
  height: 100%;
}

main#application {
  padding-top: 25px;
}

main#application.page.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main#application #landing_page .page-title {
  text-align: center;
}

.page-title {
  color: white;
  text-transform: uppercase;
  font-size: 78px;
}

.page-title strong {
  background-color: var(--secondary);
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.link-primary {
  text-decoration: underline var(--secondary);
}

.btn-primary:hover {
  background-color: var(--pink);
  border-color: var(--pink);
}
