apiVersion: v1
kind: PersistentVolume
metadata:
  name: sentry-data
  labels:
    group: sentry
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/sentry/"
