apiVersion: v1
kind: Secret
metadata:
  name: runtime-secrets
type: Opaque
stringData:
  GRAFANA_ADMINISTRATOR_PASSWORD: {{GRAFANA_ADMINISTRATOR_PASSWORD}}
  RAILS_MASTER_KEY: {{RAILS_MASTER_KEY}}
  POSTGRES_SUPERUSER_PASSWORD: {{POSTGRES_SUPERUSER_PASSWORD}}
  POSTGRES_APPLICATION_PASSWORD: {{POSTGRES_APPLICATION_PASSWORD}}
  POSTGRES_PGBOUNCER_PASSWORD: {{POSTGRES_PGBOUNCER_PASSWORD}}
  POSTGRES_SENTRY_PASSWORD: {{POSTGRES_SENTRY_PASSWORD}}
  POSTGRES_METABASE_URI: postgres://metabase:{{POSTGRES_METABASE_PASSWORD}}@pgbouncer.default:5432/metabase?prepareThreshold=0
  POSTGRES_METABASE_PASSWORD: {{POSTGRES_METABASE_PASSWORD}}
  SENTRY_URI: http://sentry.default
  SENTRY_SECRET: {{SENTRY_SECRET}}
  SENTRY_USER_PASSWORD: {{SENTRY_USER_PASSWORD}}
